* {
    box-sizing: content-box;
    margin: 0;
}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    background-attachment: fixed;
}

.about-scan {
    text-align: center;
    margin-top: 3em;
    font-family: 'Roboto', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: white;
}

.link-insert {
    width: 360px;
    height: 25px;
    margin: 4em auto 2em auto; /*haut - droite - bas - gauche */
    line-height: 10px;
    border-radius: 20px;
    color: black;
    background-color: white;
}

input {
    margin-top: 2px;
    background: rgba(255,255,255,0.4);
    border: none;
    outline: none;
    color: #333;
}

::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

div .link-insert {
    display: block;
    text-align: center;
}
div .profil-infos {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

p {

}

div .more-about {
    text-align: center;
    color: white;
    margin: auto;
}

.btn-link {
    display: inline;
    width: auto;
}

.scan-list {
    font-family: 'Roboto', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
}
.vignette {
    display: flex;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
}

.vignette:hover {
    border: white;
}


img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: solid white 3px;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}