* {
    box-sizing: content-box;
    margin: 0;
}

.about-scan {
    text-align: center;
    margin-top: 2em;
    font-family: 'Roboto', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: rgb(0, 67, 112);
}

body {
    background: rgb(72,95,255);
    background: linear-gradient(355deg, rgba(72,95,255,1) 25%, rgba(0,162,255,1) 69%, rgba(136,211,251,1) 100%);
    height: 100vh;
}


.link-insert {
    margin: 3em 1.8em 2em 1.8em;
    color: black;
    background-color: white;
    line-height: 10px;
    border-radius: 20px;
    text-decoration-line: underline;
    text-decoration-color: chocolate;
}

input {

    margin-top: 2px;
    background: rgba(255,255,255,0.4);
    border: none;
    outline: none;
    color: #333;
}

::-webkit-input-placeholder { color: #666;} 
:-moz-placeholder { color: #666; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

div .link-insert {
    display: block;
    text-align: center;
}
div .profil-infos {
    text-align: center;
    color: black;
    padding-top: 30px;
}

div .more-about {
    text-align: center;
    color: crimson;
    margin: auto;
}

.btn-link {
    display: inline;
    width: auto;
}

.scan-list {
    background:rgb(255,255,255);
}


img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}