* {
    box-sizing: content-box;
    margin: 0;
}

body {

    background: -webkit-linear-gradient(bottom left, rgba(49, 247, 222, 1.0), rgba(73, 55, 205, 1.0));
    background: -moz-linear-gradient(bottom left, rgba(49, 247, 222, 1.0), rgba(73, 55, 205, 1.0));
    background: linear-gradient(to bottom right, rgba(49, 247, 222, 1.0), rgba(73, 55, 205, 1.0));
    
    height: 100vh;
    background-attachment: fixed;
}
/* background: rgba(49, 247, 222, 1.0);
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */

.about-scan {
    text-align: center;
    margin: 3em auto 1em auto;
    font-size: 25px;
    color: white;
}

 /*haut - droite - bas - gauche */

.btn-start-scan:focus {
    background: linear-gradient(to left bottom, #3ef7ad, #c5ff47);
}

#group-profile {
    border-bottom: solid 1px white;
}

#profile {
    margin-top: 2px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    box-shadow: none;
}

#profile:hover{
    color: #a8eb12;
}

#profile-label {
    height: 20px;
    line-height: 44px;
    color: white;
}
#button-addon2 {
    bottom: -1px;
    box-shadow: none;
}

#button-addon2:hover{
    color: #a8eb12;
    background-color: transparent;
    box-shadow: none;
}

#button-addon2:active {
    color: white;
    background-color: #a8eb12;
    box-shadow: none;
}

/* #profile:focus-within {
    color:  #a8eb12;
    border-color: #a8eb12;
} */

.item {
    display: inline;
    text-align: center;
    margin: auto;
    color: white;
}

.results {
    display: block;
    margin: auto auto 4em auto;
    text-align: center;
    text-decoration: underline;
    color: white;
    font-size: 15px;
}


div .profil-infos {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

div .more-about {
    text-align: left;
    color: white;
    margin: auto;
}

.btn-link {
    display: inline;
    margin: 0 0.5em 0 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #2c92ce;
    border: solid 2px transparent;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none;
    color: white !important;
    text-decoration: none !important;
    text-decoration-style: none !important;
}

.btn-link:hover {
    border: solid 2px #2c92ce !important;
    background-color: transparent;
}
.btn-link:active {
    background: linear-gradient(to left bottom, #3ef7ad, #c5ff47);
}

.scan-list {
    display: block;
    margin-left: 1em;
    font-family: 'Roboto', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
}
.vignette {
    display: flex;
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    margin: 15px;
}

.vignette:hover {
    border: white;
}


.img-icons {
    height: 100px;
    width: 100px;
    margin-left: 0.5em;
    margin-right: 1.5em;
    border-radius: 10px;
    border: solid #b80c00 2px;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}

.img-icons:hover {
    border: solid transparent 3px;
    box-shadow: none;
}

.id-icons {
    display:inline;
    margin-top: 1em;
    height: 90px;
    width: 95px;
    border: dotted white 2px;
    border-radius: 50%;
}

.id-icons:hover {
    border-color: #c5ff47;
}

#end-about {
    display: block;
    margin-top: 5em;
    margin-bottom: 2em;
    text-align: center;
    border-radius: 30px;

}